.party-element {
  background-color: rgba(100,50,250, 0.5);
  height: 5em;
  display: inline-block;
}

.party-element:hover {
  opacity: 0.85
}

.party-icon {
  height: 3em;
}

.party-description {
}

.inventory_parent {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  height: 50%;
  margin: auto;
  padding: 1em;
}

.inventory {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  height: 50%;
  margin: auto;
  padding: 1em;
  background: white;
	overflow: auto;
}

.action-button {
  padding: 1px;
  width: 47%;
  margin-left: 1%;
  margin-top: 0.5%;
  height: 47%;
}

.inventory-button {
  width: 24%; /* TODO make this look good */
  margin-bottom: 1em;
}

.inventory-tab { /* TODO style when selected */
}

.attack-btn {
  padding: 1px;
  width: 47%;
  margin-left: 1%;
  margin-top: 0.5%;
  height: 47%;
  background-color: rgba(0,50,250, 0.25);
}

.attack-btn:hover {
  opacity: 0.8;
}

.inventory-item {
  width: 100%;
  background-color: rgba(0,50,250, 0.25);
}

.inventory-item:hover {
  opacity: 0.8;
}
