.rpgn-parent {
	width: 100%;
	height: 100%;
}

.rpgn-main_display {
  width: 100%;
  height: 100%;
  /*
  width: 90%;
  height: 70%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  */
  background: black;
  overflow: hidden;
}

.rpgn-textbox {
  width: 90%;
	height: 25%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
  padding: 1em;
	border: 5px solid #0000cc;
  background: white;
	overflow: auto;
}

.pause {
  width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
  background-color: rgba(250, 0, 0, 0.25);
	overflow: hidden;
}

.pause-button {
	position: absolute;
	top: 0;
	left: 0;
  margin: 10px;
}

/**
 * TODO better style for pause element
 */
.pause-element {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
  margin: auto;
}

/**
 * https://codepen.io/cbracco/pen/ywdbm
 */
.choiceButton {
	display: inline-block;
  margin: 5px;
  padding: 0.75rem 1rem;
	border: 0;
	border-radius: 0.317rem;
	background-color: #aaa;
	color: #fff;
	text-decoration: none;
	font-weight: 700;
	font-size: 1rem;
  line-height: 1.5;
	font-family: "Helvetica Neue", Arial, sans-serif;
	cursor: pointer;
	-webkit-appearance: none;
	-webkit-font-smoothing: antialiased;
}
.choiceButton:hover {
	opacity: 0.85;
}
/* --- */

.party-element {
  background-color: rgba(100,50,250, 0.5);
  display: inline-block;
}
.party-element:hover {
  opacity: 0.85
}
.party-icon {
  height: 10%;
}
.party-description {
}
